<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <main>
        <h1 class="text-center">Book A Class</h1>
        <p class="text-center" style="max-width: min(90%,1000px); margin: 0 auto;">

        </p>
        <div>
            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-ed7af7bc-002d-4061-9664-2d2257d05c24"></div>
        </div>
    </main>
  </body>
</html>
